body {
  font-family: "Noto Sans JP", "Noto Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

main {
  margin: 12px auto;
  max-width: 1024px;
}

.my-photo {
  width: 400px;
  height: 500px;
  object-fit: cover;
}
